.header_container {
    padding: 0;
    margin: 0;
    height: 50px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #187ba2;
}

.logo {
    font-weight: bold;
    font-size: large;
    color: black
}

.resource_links {
    display: flex;
    flex-direction: row;
}

.resource_links li {
    list-style: none;
    padding: 0 10px;
}

.auth_links {
    display: flex;
    flex-direction: row;
}

.auth_links li {
    list-style: none;
    padding: 0 10px;
}